.containerLogin{
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,62,1) 39%, rgba(21,134,157,1) 97%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerForm{
    background-color: rgb(25, 31, 31);
    width: 30%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(112, 109, 108);
    border-radius: 0.8rem;
}
.buttonDiv{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}